{% extends 'base.html.twig' %}

{% block title %}Facturation index{% endblock %}

{% block body %}
    <h1>Facturation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mois</th>
                <th>Montant_total</th>
                <th>Montant_regle</th>
                <th>Montant_restant</th>
                <th>Statut</th>
                <th>Nb_repas</th>
                <th>Report_m_1</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facturation in facturations %}
            <tr>
                <td>{{ facturation.id }}</td>
                <td>{{ facturation.mois }}</td>
                <td>{{ facturation.montantTotal }}</td>
                <td>{{ facturation.montantRegle }}</td>
                <td>{{ facturation.montantRestant }}</td>
                <td>{{ facturation.statut }}</td>
                <td>{{ facturation.nbRepas }}</td>
                <td>{{ facturation.reportM1 }}</td>
                <td>
                    <a href="{{ path('app_facturation_show', {'id': facturation.id}) }}">show</a>
                    <a href="{{ path('app_facturation_edit', {'id': facturation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_facturation_new') }}">Create new</a>
{% endblock %}
