{# templates/facturation/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Détail de la facturation{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Détails de la facturation #{{ facturation.id }}</h1>

        <table class="table table-bordered">
            <tr>
                <th>Mois</th>
                <td>{{ facturation.mois }}</td>
            </tr>
            <tr>
                <th>Professeur</th>
                <td>{{ facturation.refProfesseur ? facturation.refProfesseur.nom : '' }}</td>
            </tr>
            <tr>
                <th>Nombre de repas</th>
                <td>{{ facturation.nbRepas }}</td>
            </tr>
            <tr>
                <th>Montant total (€)</th>
                <td>{{ facturation.montantTotal }}</td>
            </tr>
            <tr>
                <th>Montant réglé (€)</th>
                <td>{{ facturation.montantRegle }}</td>
            </tr>
            <tr>
                <th>Montant restant (€)</th>
                <td>{{ facturation.montantRestant }}</td>
            </tr>
            <tr>
                <th>Report M-1</th>
                <td>{{ facturation.reportM1 }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ facturation.statut ? facturation.statut.value : '' }}</td>
            </tr>
        </table>

        <a href="{{ path('app_facturation_edit', {'id': facturation.id}) }}" class="btn btn-warning">Modifier</a>
        <a href="{{ path('app_facturation_index') }}" class="btn btn-secondary">Retour à la liste</a>

        {{ include('facturation/_delete_form.html.twig') }}
    </div>
{% endblock %}
