{% extends 'base.html.twig' %}
{% import "_macros/breadcumb.html.twig" as _breadcumb %}

{% block title %}Détails du paiement{% endblock %}
{% block titre_page %}Détails du paiement{% endblock %}
{% block action_page %}
    <a href="{{ path('app_paiement_edit', {'id': paiement.id}) }}" class="btn btn-primary">Modifier</a>
{% endblock %}

{% block Breadcrumb %}
    {{ _breadcumb.etape("Paiement") }}
    {{ _breadcumb.etape("Détails") }}
{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paiement.id }}</td>
            </tr>
            <tr>
                <th>Date_paiement</th>
                <td>{{ paiement.datePaiement ? paiement.datePaiement|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ paiement.montant }}</td>
            </tr>
            <tr>
                <th>Moyen_paiement</th>
                <td>{{ paiement.moyenPaiement }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_paiement_index') }}">Revenir à la liste</a>

    {{ include('paiement/_delete_form.html.twig') }}
{% endblock %}
