{% extends 'base.html.twig' %}
{% import "_macros/breadcumb.html.twig" as _breadcumb %}

{% block title %}Modifier un professeur{% endblock %}
{% block titre_page %}Modifier un professeur{% endblock %}
{% block action_page %}
    {{ include('professeur/_delete_form.html.twig') }}
{% endblock %}

{% block Breadcrumb %}
    {{ _breadcumb.etape("Professeur") }}
    {{ _breadcumb.etape("Modifier") }}
{% endblock %}

{% block body %}
    {{ include('professeur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_professeur_index') }}">Revenir à la liste</a>
{% endblock %}
