{% extends 'base.html.twig' %}

{% block title %}Les professurs{% endblock %}

{% block body %}
    <h1>Les professeurs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ professeur.id }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ professeur.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ professeur.nom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ professeur.email }}</td>
            </tr>
            <tr>
                <th>Est_actif</th>
                <td>{{ professeur.estActif ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_professeur_index') }}">Revenir à la liste des professeurs</a>

    <a href="{{ path('app_professeur_edit', {'id': professeur.id}) }}">Modifier</a>

    {{ include('professeur/_delete_form.html.twig') }}
{% endblock %}
