{% extends 'base.html.twig' %}

{% block title %}Description index{% endblock %}

{% block body %}
    <h1>Description index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lundi</th>
                <th>Mardi</th>
                <th>Mercredi</th>
                <th>Jeudi</th>
                <th>Vendredi</th>
                <th>Report</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for description in descriptions %}
            <tr>
                <td>{{ description.id }}</td>
                <td>{{ description.lundi ? 'Yes' : 'No' }}</td>
                <td>{{ description.mardi ? 'Yes' : 'No' }}</td>
                <td>{{ description.mercredi ? 'Yes' : 'No' }}</td>
                <td>{{ description.jeudi ? 'Yes' : 'No' }}</td>
                <td>{{ description.vendredi ? 'Yes' : 'No' }}</td>
                <td>{{ description.report }}</td>
                <td>
                    <a href="{{ path('app_description_show', {'id': description.id}) }}">show</a>
                    <a href="{{ path('app_description_edit', {'id': description.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_description_new') }}">Create new</a>
{% endblock %}
