{% extends 'base.html.twig' %}
{% import "_macros/breadcumb.html.twig" as _breadcumb %}

{% block title %}Promotion{% endblock %}
{% block titre_page %}Créer une nouvelle description pour la promotion {{ promo.anneeDebut }} -  {{ promo.anneeFin }}{% endblock %}

{% block Breadcrumb %}
    {{ _breadcumb.etape("Promotion") }}
    {{ _breadcumb.etape("Nouvelle Description") }}
{% endblock %}
{% block body %}
    {{ include('description/_form.html.twig') }}
    <a href="{{ path('app_description_index') }}">Retour</a>
{% endblock %}
